<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LocalBus</title>
    <link rel="stylesheet" href="" th:href="@{/style.css}"/>
    <link rel="icon" href="https://cdn-icons.flaticon.com/png/512/416/premium/416597.png?token=exp=1643862576~hmac=57771818f8c545ab8f16cbd9cc5487d8" type="image/icon type">
</head>
<body>

<div class="container2">
    <div class="brand-title">LocalBus</div>
    <br>
    <p th:text="${'Distance (Km): '+buses.getDistance(buses.getOrigin(),buses.getDest())}"></p>

    <p th:text="${'Fare (Tk): '+buses.getFare(buses.getDistance(buses.getOrigin(),buses.getDest()))}"></p>

    Buses:
    <br th:text="${buses.getOrigin() + '  To  ' + buses.getDest()}">
    <div class="listStyle">
        <ul style="list-style-type: none;">
            <li th:each="item : *{buses.getBus()}" th:text="${item}"></li>
        </ul>
    </div>
</div>

</body>
</html>